@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

:root {
  font-size: 12px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
.title {
  margin: 1rem auto;
  text-align: center;
  font-size: 4rem;
}

#board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem;
}
.row {
  display: flex;
  margin: 0.5rem auto;
}
.square {
  width: 200px;
  height: 200px;
  margin: 0 0.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
}
.selected {
  fill: transparent;
  stroke: rgb(253, 66, 66);
  stroke-width: 3px;
  rx: 0.4rem;
  ry: 0.4rem;
}

/* test */
rect {
  fill: rgb(255, 96, 96);
}
