@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

:root{
  font-size: 12px;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.title {
  margin: 1rem auto;
  text-align: center;
  font-size: 4rem;
}

#board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem;
}
.row{
  display: flex;
  margin: .5rem auto;
}
.square{
  width: 200px;
  height: 200px;
  margin: 0 .5rem;
  border: 2px solid black;
}